@page "/"

<PageTitle>Главная</PageTitle>

<h1>Выбери случайное рубаи:</h1>

<button class="btn btn-primary" @onclick="GetRubai">Выбор</button>

@foreach (var item in rubai)
{
    <p>@item.ToString()</p>
}

@code {
    string[] arr = File.ReadAllLines("Data/rubai.csv");
    List<string> lst = new List<string>();
    //List<string> lst = arr.ToList();
    List<string> rubai = new List<string>()
    {
        "Мы цель созданья, смысл его отменный,",
        "Взор Божества и сущность зрящих глаз.",
        "Окружность мира - перстень драгоценный,",
        "А мы в том перстне - вправленный алмаз."
    };

    Random rnd = new Random();
    int mIndex;

    private void GetRubai()
    {
        lst = arr.ToList();
        mIndex = rnd.Next(lst.Count);

        if (mIndex >= mIndex - 3)
        {
            mIndex = mIndex - 4;
        }

        while (mIndex % 4 != 0)
        {
            mIndex++;
        }

        rubai.Clear();
        rubai.Add(lst[mIndex]);
        mIndex++;
        for (int i = 0; i < 3; i++)
        {
            rubai.Add(lst[mIndex]);
            mIndex++;
        }
    }
}