@page "/"

<PageTitle>Омар Хайям Рубаи</PageTitle>

<div class="container">
    <div class="row pt-4">
        <div class="box imagebox col-sm-12 col-md-4 col-xl-4">
            <img class="image-responsive" src="/images/khayyam.png" alt="Omar_Khayyam" />
        </div>

        <div class="box annotation col-sm-12 col-md-8 col-xl-8 pt-4">
            <span><i>Ома́р Хайя́м Нишапури́</i></span>
            <strong><i>(перс. عُمَر خَیّام نیشابوری‎; 18 мая 1048, Нишапур — 4 декабря 1131, там же) персидский философ, математик, астроном и поэт.</i></strong>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="rubaibox box pt-4">
                <button class="btn btn-primary" @onclick="GetRubai">Выбор</button>

                <div class="rubai mt-4">
                    @foreach (var item in rubai)
                    {
                        <p>@item.ToString()<br /></p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    string[] arr = File.ReadAllLines("Data/rubai.csv");
    List<string> lst = new List<string>();
    List<string> rubai = new List<string>()
    {
        "Если я согрешил - то не сам по себе,",
        "Путь земной совершил я не сам по себе,",
        "Где я был? Кто я был? Жил впотьмах, исполняя",
        "Все, что Он предрешил, а не сам по себе.",
    };

    Random rnd = new Random();
    int mIndex;

    private void GetRubai()
    {
        lst = arr.ToList();
        mIndex = rnd.Next(lst.Count);

        if (mIndex >= mIndex - 3)
        {
            mIndex = mIndex - 4;
        }

        while (mIndex % 4 != 0)
        {
            mIndex++;
        }

        rubai.Clear();
        rubai.Add(lst[mIndex]);
        mIndex++;
        for (int i = 0; i < 3; i++)
        {
            rubai.Add(lst[mIndex]);
            mIndex++;
        }
    }
}